<div class="main">
  <div class="image-wrapper">
    <img
      src="https://contestfiles.s3.eu-central-1.amazonaws.com/contests/tdXfFILq_1599919162.png"
    />
  </div>

  <br />

  <div class="title">HACKATHON’20: ART OF TECHNOLOGY</div>

  <h4>Форма</h4>
  <form class="form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formControl">
      <input
        type="text"
        placeholder="Название товара"
        formControlName="name"
        (input)="updateState()"
      />
      <app-invalid-message
        [formContol]="form.get('name')"
        [invalidContent]="createInvalidContent()"
      ></app-invalid-message>
    </div>
    <div class="formControl">
      <input
        type="date"
        placeholder="Выберите дату доставки"
        formControlName="date"
        (change)="updateState()"
      />
      <app-invalid-message
        [formContol]="form.get('date')"
        [invalidContent]="createInvalidContent()"
      ></app-invalid-message>
    </div>
    <div class="formControl count">
      <label>Количество товаров:</label>
      <input
        type="number"
        placeholder="Количество"
        min="1"
        formControlName="count"
        (input)="updateState()"
      />
      <span></span>
      <app-invalid-message
        [formContol]="form.get('count')"
        [invalidContent]="
          createInvalidContent({
            error: 'pattern',
            message: 'Число должно быть больше 0'
          })
        "
      ></app-invalid-message>
    </div>
    <div class="formControl deliver">
      <label>Срочная доставка</label>
      <input
        type="checkbox"
        formControlName="fastDeliver"
        (change)="updateState()"
      />
    </div>
    <hr />
    <button
      type="button"
      class="btn btn_success addNote"
      (click)="addNewNote()"
    >
      Добавить примечание <span>&#43;</span>
    </button>
    <div
      class="formControl note"
      formGroupName="notes"
      *ngFor="let note of notes.controls; index as i"
    >
      <label>Примечание {{ i + 1 }}:</label>
      <input
        type="text"
        placeholder="Примечание"
        [formControlName]="i"
        (input)="updateState()"
      />

      <button class="btn btn_danger" (click)="removeNote(i)">
        <span>&#215;</span>
      </button>
      <span></span>
      <app-invalid-message
        [formContol]="note"
        [invalidContent]="createInvalidContent()"
      ></app-invalid-message>
    </div>
    <div class="btnGroup">
      <button
        class="btn btn_warn"
        type="button"
        (click)="setPrevValue()"
        [disabled]="this.stateService.currentStateIndex === 0"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-arrow-counterclockwise"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"
          />
        </svg>
        Undo
      </button>
      <button
        class="btn btn_blue"
        type="button"
        (click)="setNextValue()"
        [disabled]="
          this.stateService.currentStateIndex ===
          this.stateService.state.stateChanges.length - 1
        "
      >
        Redo
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-arrow-clockwise"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
          />
        </svg>
      </button>
      <button
        class="btn btn_success"
        type="submit"
        [disabled]="form.invalid || form.pending"
      >
        Submit
      </button>
    </div>
  </form>
</div>
