.main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.image-wrapper {
  margin: 0 auto;
}

.image-wrapper img {
  width: 100px;
}

.form-wrapper {
  border: 1px solid lightgray;
  border-radius: 10px;
}
