<div class="main">
  <div class="image-wrapper">
    <img
      src="https://contestfiles.s3.eu-central-1.amazonaws.com/contests/tdXfFILq_1599919162.png"
    />
  </div>

  <br />

  <div class="title">HACKATHON’20: ART OF TECHNOLOGY</div>

  <h4>Форма</h4>
  <form class="form-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formControl">
      <input
        type="text"
        placeholder="Название товара"
        formControlName="name"
        (input)="stateService.addNewState(form.value)"
      />
    </div>
    <div class="formControl">
      <input
        type="date"
        placeholder="Выберите дату доставки"
        formControlName="date"
        (change)="stateService.addNewState(form.value)"
      />
    </div>
    <div class="formControl">
      <input
        type="number"
        placeholder="Количество"
        formControlName="count"
        (input)="stateService.addNewState(form.value)"
      />
    </div>
    <div class="fromControl">
      <label>Срочная доставка</label>
      <input
        type="checkbox"
        formControlName="fastDeliver"
        (change)="stateService.addNewState(form.value)"
      />
    </div>
    <button
      type="button"
      (click)="setPrevValue()"
      [disabled]="this.stateService.currentStateIndex === 0"
    >
      Undo
    </button>
    <button
      type="button"
      (click)="setNextValue()"
      [disabled]="
        this.stateService.currentStateIndex ===
        this.stateService.stateChanges.length - 1
      "
    >
      Redo
    </button>
    <button type="submit">Submit</button>
  </form>
</div>
