.main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.image-wrapper {
  margin: 0 auto;
}

.image-wrapper img {
  width: 100px;
}

.form-wrapper {
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
  padding: 40px;
}


.count, .deliver {
  display: grid;
  grid-template: auto / 1fr 1fr;
  align-items: center;

  label {
    justify-self: start;
  }
  input {
    width: 50%;
  }
}

.deliver {
  input {
    width: 10%;
    margin: 0;
  }
}
